#sidebar
  %ul
    %li
      %h2 Menú
      %ul
        - if controller.action_name == 'index'
          %li
            = link_to 'Nuevo', new_project_name_path
        - else
          %li
            = link_to ProjectName.model_name.human.pluralize.humanize, project_names_path
        - if controller.action_name == 'show'
          %li
            = link_to 'Editar', edit_project_name_path(@project_name)
          %li
            = link_to 'Eliminar', @project_name, :method => :delete, 
                      :confirm => "¿Está seguro que desea eliminar el #{ProjectName.model_name.human}?"
        %li
          = link_to 'Volver', :back
/ end #sidebar
