= content_for :head do
  :javascript
    $(document).ready(function () {
      $('#comment_content').focus();
    });

= form.error_messages :header_message => nil, :message => nil

%p
  = form.label :content
  %br/
  = form.text_area :content, :cols => 55, :rows => 5
  
%p
  = form.label :attachment
  - if @comment.attachment?
    &nbsp;[#{File.basename(@comment.attachment.path)}]
  %br/
  = form.file_field :attachment
  
%p
  = form.label :recipient_ids
  %br/
  - @commentable.project.all_users.each do |user|
    = check_box_tag 'comment[user_ids][]', user.id, @comment.user_ids.include?(user.id)
    = user.name
    %br/
  
