#sidebar
  %ul
    %li
      %h2 Menú
      %ul
        - if controller.action_name == 'index'
          %li
            = new_comment_link(params)
        - else
          - if params.find {|k,v| k.to_s =~ /(.+)_id$/}
            %li
              = comments_link(params)
        - if controller.action_name == 'show'
          - if @comment.updatable_by?(current_user)
            %li
              = link_to 'Editar', edit_comment_path(@comment)
          - if @comment.updatable_by?(current_user)
            %li
              = link_to 'Eliminar', @comment, :method => :delete, 
                        :confirm => "¿Está seguro que desea eliminar el #{Comment.model_name.human}?"
        %li
          = link_to 'Volver', :back
/ end #sidebar
