= content_for :title, "Nuevo #{Comment.model_name.human}"
= content_for :sidebar do
  = render 'sidebar'
  
= form_for [@commentable, @comment], :html => {:multipart => true} do |f|
  = render f
  = f.submit 'Agregar'
  
