= content_for :head do
  :javascript
    $(document).ready(function () {
      $('#task_description').focus();
    });

= form.error_messages :header_message => nil, :message => nil

%p
  = form.label :description
  %br/
  = form.text_area :description, :cols => 55, :rows => 5
  
%p
  = form.label :owner_id
  %br/
  = form.collection_select :owner_id, User.it_staff(:except => @task.project.dev), :id, :name, :include_blank => true

- 1.upto(3) do |i|
  %p
    = form.label "attachment#{i}"
    - if @task.send("attachment#{i}?")
      &nbsp;[#{File.basename(@task.send("attachment#{i}").path)}]
    %br/
    = form.file_field "attachment#{i}"
    = form.hidden_field "attachment#{i}_cache"
    - if @task.send("attachment#{i}?")
      %br/
      = form.check_box "remove_attachment#{i}"
      Eliminar
