#sidebar
  %ul
    %li
      %h2 Menú
      %ul
        - if controller.action_name == 'index'
          %li
            = link_to 'Nueva', new_project_task_path(@project || @task.project)
          %li
            - if params.has_key?(:show_all)
              = link_to 'Incompletas', project_tasks_path(@project)
            - else
              = link_to 'Todas', project_tasks_path(@project, :show_all => true)
        - else
          %li
            = link_to Task.model_name.human.pluralize.humanize, project_tasks_path(@task.project)
        - if controller.action_name == 'show'
          %li
            = link_to 'Editar', edit_task_path(@task)
          %li
            = link_to 'Eliminar', @task, :method => :delete, 
                      :confirm => "¿Está seguro que desea eliminar la #{Task.model_name.human}?"
          %li
            = link_to Comment.model_name.human.humanize.pluralize, task_comments_path(@task)
        %li
          = link_to Project.model_name.human.humanize, (@project || @task.project)
        %li
          = link_to 'Volver', :back
/ end #sidebar
