= content_for :title, "Editando #{Task.model_name.human}. #{@task.project}"
= content_for :sidebar, render('sidebar')
  
= form_for @task, :html => {:multipart => true} do |f|
  = render f
  
  - if current_user == @task.owner
    %p
      = f.label :status
      %br/
      = f.select :status, options_for_select(Task::Status::SELECT[0,3], @task.status)
      
    %p
      = f.label :duration
      %br/
      = f.text_field :duration, :size => 4
      = duration_options_for(@task, :duration_unit)
  
  = f.submit 'Actualizar'
  
