= content_for :title, "#{Task.model_name.human.humanize.pluralize} del #{Project.model_name.human} - #{@project.to_s(:short)}"
= content_for :sidebar do
  = render 'sidebar'

- if @tasks.empty?
  = not_found(Task)
- else
  = render 'list', :list => @tasks
