= content_for :title, "Nueva #{Task.model_name.human} - #{@project.to_s(:short)}"
= content_for :sidebar, render('sidebar')
  
= form_for [@project, @task], :html => {:multipart => true} do |f|
  = render f
  = f.submit 'Crear'
