= content_for :title, "Editando #{Holiday.model_name.human}"
= content_for :sidebar do
  = render 'sidebar'

= form_for @holiday, :url => admin_holiday_path(@holiday) do |f|
  = render f
  = f.submit 'Actualizar'
