#menu
  %ul
    - if user_signed_in?
      %li.current_page_item.first
        = link_to Project.model_name.human.humanize.pluralize, projects_path
      - if boss_logged_in?
        %li
          = link_to 'Nomenclatura', project_names_path
        %li
          = link_to OrgUnit.model_name.human.pluralize.humanize, org_units_path
        %li
          = link_to User.model_name.human.pluralize.humanize, users_path
      /
        %li
          = link_to Holiday.model_name.human.humanize.pluralize, holidays_path
      %li
        = link_to 'Salir', destroy_user_session_path
      %li.current_page_item.first.right
        = link_to current_user.username.upcase, edit_account_path
    - else
      %li.current_page_item.first
        = link_to 'Ingresar', new_user_session_path
/ end #menu
