= content_for :head do
  :javascript
    $(document).ready(function () {
      $('#event_stage').focus();
    });

= form.error_messages :header_message => nil, :message => nil

%p
  = form.label :stage
  %br/
  = form.select :stage, options_for_select(Event::Stage::SELECT, @event.stage), :include_blank => true
  
%p
  = form.label :status
  %br/
  = form.select :status, options_for_select(Event::Status::SELECT, @event.status), :include_blank => true
