= content_for :title, "Editando #{Event.model_name.human} - #{@event.project.to_s(:short)}"
= content_for :sidebar, render('sidebar')
  
= form_for @event do |f|
  = render f
  = f.submit 'Actualizar'
  
