= content_for :title, "#{Event.model_name.human.humanize.pluralize} del #{Project.model_name.human} - #{@project.to_s(:short)}"
= content_for :sidebar, render('sidebar')

- if @events.empty?
  = not_found(Event)
- else
  = render 'list', :list => @events
