= content_for :title, "#{Event.model_name.human.humanize.pluralize}. #{@project}"
= content_for :sidebar, render('sidebar')

- if @events.empty?
  = not_found(Event)
- else
  = render 'list', :list => @events
