= content_for :title do
  = event_name(@event)
  
= content_for :sidebar do
  = render 'sidebar'
  
%p
  = Event.human_attribute_name(:author_id)
  %br/
  = @event.author.name
  
%p
  = Event.human_attribute_name(:duration)
  %br/
  = pluralize(@event.duration, 'hora')

- if @event.has_attachments?
  %ul
    - 1.upto(3) do |i|
      - if @event.send("attachment#{i}?")
        %li= link_to Event.human_attribute_name("attachment#{i}"), @event.send("attachment#{i}").url
        
= created_at(@event)
= updated_at(@event)
