= content_for :title, "#{Event.model_name.human.humanize} - #{@event}"
= content_for :sidebar, render('sidebar')
  
%p
  %strong= Event.human_attribute_name(:author_id)
  %br/
  = @event.author.name

= created_at(@event)
= updated_at(@event)
