= content_for :title, "Editando #{Document.model_name.human}"
= content_for :sidebar, render('sidebar')
  
= form_for @document, :html => {:multipart => true} do |f|
  = render f
  = f.submit 'Actualizar'
  
