= content_for :head do
  = javascript_include_tag 'jquery-ui-1.8.12.custom.min', 'jquery.ui.datepicker-es', 'jquery.tokeninput', 'jquery.chained'
  = stylesheet_link_tag 'jquery-ui-1.8.12.custom', 'token-input-facebook'
  :javascript
    $(document).ready(function() {
      $('#project_estimated_start_date').datepicker();
      // $('#project_estimated_end_date').datepicker();
      $('#project_envisaged_end_date').datepicker();
      $("#project_user_tokens").tokenInput("#{users_path(:format => :json)}", {
        crossDomain: false,
        prePopulate: $("#project_user_tokens").data("pre"),
        theme: "facebook"
      });
      
      /*$('#project_estimated_start_date').change(function() {
        $('#project_estimated_end_date').datepicker('setDate', addDaysTo($(this).datepicker('getDate'), 1));
      });*/
      
      if(#{@project.persisted?}) {
        $('#project_envisaged_end_date').change(function() {
          $('#notify_envisaged_end_date_changed').show();
        });
      }
      
      $("#project_name_id1").chained("#project_name_id0");
      $("#project_name_id2").chainedTo("#project_name_id1");
      
      arr = [#{@project.project_name_id ? @project.project_name.path_ids.join(',') : ''}]
      if(arr.length > 0)
        selectDefaultValue($("#project_name_id0"), arr[0]);
      if(arr.length > 1)
        selectDefaultValue($("#project_name_id1"), arr[1]);
      if(arr.length > 2)
        selectDefaultValue($("#project_name_id2"), arr[2]);
        
      $('form#project_form').submit(function(e){
           e.preventDefault(); //Prevent the normal submission action
           validate_project_name(this);
      });
    });
    
    function validate_project_name(form) {
      if($("#project_name_id2").attr('disabled'))
        if($("#project_name_id1").attr('disabled'))
          value = $("#project_name_id0").val();
        else
          value = $("#project_name_id1").val();
      else
        value = $("#project_name_id2").val();
        
      if(value.length == 0)
        alert("Debe seleccionar un nombre de proyecto");
      else {
        $("#project_project_name_id").val(value);
        form.submit();
      }
    }
    

= form.error_messages :header_message => nil, :message => nil

- if @project.new?
  = form.hidden_field :project_name_id
  
  %table.bottom_spaced{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
    %tr
      %td{:width => '20%'}
        %strong= form.label :req_nbr
      %td{:width => '80%'}
        %strong= form.label :project_name_id
    %tr
      %td{:width => '20%'}
        = form.text_field :req_nbr, :size => 3
      %td{:width => '80%'}
        = select_tag :project_name_id0, options_for_select(ProjectName.at_depth(0).map{|pn| [pn.text, pn.id]}), :include_blank => true
        = select_tag :project_name_id1, options_for_select(ProjectName.at_depth(1).map{|pn| [pn.text, pn.id, {:class => pn.parent_id}]}), :include_blank => true
        = select_tag :project_name_id2, options_for_select(ProjectName.at_depth(2).map{|pn| [pn.text, pn.id, {:class => pn.parent_id}]}), :include_blank => true
  
  %p
    %strong= form.label :org_unit_id
    %br/
    = form.collection_select :org_unit_id, OrgUnit.not_roots.with_parent, :id, :to_s, :include_blank => true
  
  %p
    %strong= form.label :requirement
    %br/
    = form.text_field :requirement, :size => 48
  
  %p
    %strong= form.label :description
    %br/
    = form.text_area :description, :cols => 55, :rows => 5
  
  %table.bottom_spaced{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
    %tr
      %td{:width => '33.3%'}
        %strong= form.label :dev_id
      %td{:width => '33.3%'}
        %strong= form.label :owner_id
      %td{:width => '33.3%'}
        %strong= form.label :klass
    %tr
      %td{:width => '33.3%'}
        = form.collection_select :dev_id, User.devs, :id, :name, :include_blank => true
      %td{:width => '33.3%'}
        = form.collection_select :owner_id, User.nondevs, :id, :name, :include_blank => true
      %td{:width => '33.3%'}
        = form.select :klass, options_for_select(Project::Klass::SELECT, controller.action_name == 'new' ? nil : @project.klass), 
                  :include_blank => controller.action_name == 'new'
                    
  %p
    %strong= form.label :user_ids
    %br/
    = form.text_field :user_tokens, "data-pre" => @project.users.map(&:attributes).to_json

  %table.bottom_spaced{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
    %thead
      %tr
        %td{:colspan => 3}
          %em Estimación
    %tbody
      %tr
        %td{:width => '33.3%'}
          %strong= form.label :estimated_start_date
        %td{:width => '33.3%'}
          %strong= form.label :estimated_end_date
        %td{:width => '33.3%'}
          %strong= form.label :estimated_duration
      %tr
        %td{:width => '33.3%'}
          = form.text_field :estimated_start_date, :size => 27, 
                            :value => date_default_value(@project.estimated_start_date)
        %td{:width => '33.3%'}
          = form.text_field :estimated_end_date, :size => 27, 
                            :value => date_default_value(@project.estimated_end_date),
                            :disabled => true
        %td{:width => '33.3%'}
          = form.text_field :estimated_duration, :size => 4
          = duration_options_for(@project, :estimated_duration_unit)

- unless @project.finished?
  %table.bottom_spaced{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
    %tr
      %td{:width => '50%'}
        %strong= form.label :compl_perc
      %td{:width => '50%'}
        %strong= form.label :envisaged_end_date
    %tr
      %td{:width => '50%'}
        = form.select :compl_perc, options_for_select((0..10).map {|i| [i*10, i*10]}, @project.compl_perc)
      %td{:width => '50%'}
        %table.bottom_spaced{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
          %tr
            %td= form.text_field :envisaged_end_date, :size => 27, :value => date_default_value(@project.envisaged_end_date)
          %tr.hidden{:id => 'notify_envisaged_end_date_changed'}
            %td
              = form.check_box :notify_envisaged_end_date_changed
              Notificar al #{Project.human_attribute_name(:owner_id).downcase }
