= content_for :head do
  = javascript_include_tag 'jquery-ui-1.8.10.custom.min', 'jquery.ui.datepicker-es'
  = stylesheet_link_tag 'jquery-ui-1.8.10.custom'
  :javascript
    $(document).ready(function() {
      $('#project_started_on').datepicker();
      $('#project_estimated_end_date').datepicker();
      if('#{controller.action_name}' == 'projects')
        $('#search_form').show();
    });

#search_form.hidden
  = form_for @project, :url => search_projects_path, :html => {:method => :get} do |f|
    %table{:cellpadding => 5, :cellspacing => 5, :border => 0}
      %tr
        %td        
          = f.label :org_unit
          %br/
          = f.text_field :org_unit
        %td        
          = f.label :area
          %br/
          = f.text_field :area
      %tr
        %td        
          = f.label :first_name
          %br/
          = f.text_field :first_name
        %td        
          = f.label :last_name
          %br/
          = f.text_field :last_name
      %tr
        %td        
          = f.label :started_on
          %br/
          = f.text_field :started_on, :value => @project.started_on ? l(@project.started_on) : nil
        %td        
          = f.label :estimated_end_date
          %br/
          = f.text_field :estimated_end_date, :value => @project.estimated_end_date ? l(@project.estimated_end_date) : nil
      %tr
        %td        
          = f.label :dev_id
          %br/
          = f.collection_select :dev_id, User.devs, :id, :name, :include_blank => true
        %td        
          = f.label :owner_id
          %br/
          = f.collection_select :owner_id, User.nondevs, :id, :name, :include_blank => true
      %tr
        %td{:colspan => 2}
          = f.label :status
          %br/
          = f.select :status, options_for_select(Project::Status::SELECT), 
                     :include_blank => true
      %tr
        %td{:colspan => 2}
          = f.submit 'Filtrar'
