= content_for :title, "Editando #{Project.model_name.human}"
= content_for :sidebar, render('sidebar')

= form_for @project, :html => {:id => 'project_form'} do |f|
  = render f
  
  - unless @project.finished?
    %table.bottom_spaced{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
      %tr
        %td{:width => '50%'}
          %strong= f.label :compl_perc
        %td{:width => '50%'}
          %strong= f.label :envisaged_end_date
      %tr
        %td{:width => '50%'}
          = f.select :compl_perc, options_for_select((0..10).map {|i| [i*10, i*10]}, @project.compl_perc)
        %td{:width => '50%'}
          %table.bottom_spaced{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
            %tr
              %td= f.text_field :envisaged_end_date, :size => 27, :value => date_default_value(@project.envisaged_end_date)
            %tr.hidden{:id => 'notify_envisaged_end_date_changed'}
              %td
                = f.check_box :notify_envisaged_end_date_changed
                Notificar al #{Project.human_attribute_name(:owner_id).downcase }
  
  - if @project.dev == current_user
    %p
      %strong= f.label :status
      %br/
      = f.select :status, options_for_select(Project::Status::SELECT, @project.status)
  = f.submit 'Actualizar'
