= content_for :title, "Editando #{Project.model_name.human}"
= content_for :sidebar, render('sidebar')

= form_for @project, :html => {:id => 'project_form'} do |f|
  = render f
  - if @project.dev == current_user
    %p
      %strong= f.label :status
      %br/
      = f.select :status, options_for_select(Project::Status::SELECT, @project.status)
  = f.submit 'Actualizar'
