= content_for :title, "Listando #{Project.model_name.human.pluralize}"
= content_for :sidebar do
  = render 'sidebar'

- if @projects.empty?
  = not_found(Project)
- else
  = render 'list', :list => @projects
