= content_for :title do 
  #{Project.model_name.human.pluralize} en curso

= render 'shared/email_verif_alert'

= content_for :sidebar do
  = render 'projects/sidebar'

- if @projects.empty?
  = not_found(Project)
- else
  = render 'projects/list', :list => @projects
