= content_for :title do 
  Biblioteca.
  = @project
  
= content_for :sidebar, render('projects/sidebar')

- if @project.library_empty?
  = not_found('archivos')
- else
  %ul
    = render :partial => 'document', :collection => @project.documents
