= content_for :title, "Nuevo #{Project.model_name.human}"
= content_for :sidebar do
  = render 'sidebar'

= form_for @project, :html => {:id => 'project_form'} do |f|
  = render f
  = f.submit 'Crear'
