= content_for :title do 
  = @project
  [#{@project.status_str} - &#37;#{@project.compl_perc}]
= content_for :sidebar, render('sidebar')

%table.bottom_spaced{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
  %tr
    %td{:width => '50%'}
      %strong= Project.human_attribute_name('project_name_id')
    %td{:width => '50%'}
      %strong= Project.human_attribute_name('org_unit_id')
  %tr
    %td{:width => '50%'}
      = @project
    %td{:width => '50%'}
      = @project.org_unit

%p
  %strong= Project.human_attribute_name('description')
  - if @project.description.present?
    %br/
    = @project.description.humanize

%table.bottom_spaced{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
  %tr
    %td{:width => '33.3%'}
      %strong= Project.human_attribute_name('dev_id')
    %td{:width => '33.3%'}
      %strong= Project.human_attribute_name('owner_id')
    %td{:width => '33.3%'}
      %strong= Project.human_attribute_name('klass')
  %tr
    %td{:width => '33.3%'}
      = @project.dev.name
    %td{:width => '33.3%'}
      = @project.owner.name
    %td{:width => '33.3%'}
      = @project.klass_str

%p
  %strong= Project.human_attribute_name('user_ids')
  %br/
  = @project.users.map{|user| user.name}.join(' - ') 

%table.bottom_spaced{:border => 1, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
  %tr
    %td
      %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
        %thead
          %tr
            %td.underlined
              %em Estimación inicial
            %td{:colspan => 2}
        %tbody
          %tr
            %td{:width => '33.3%'}
              %strong Fecha de inicio:
              = l(@project.estimated_start_date)
            %td{:width => '33.3%'}
              %strong Fecha de fin:
              = l(@project.estimated_end_date)
            %td{:width => '33.3%'}
              %strong Duración:
              = duration_desc(@project, :estimated_duration)

%table.bottom_spaced{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
  %tr
    %td.centered
      %strong #{Project.human_attribute_name('envisaged_end_date')}:
      = l(@project.envisaged_end_date)

%table.bottom_spaced{:border => 1, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
  %tr
    %td
      %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => "100%"}
        %thead
          %tr
            %td.underlined
              %em Ejecución
            %td{:colspan => 2}
        %tbody
          %tr
            %td{:width => '33.3%'}
              %strong #{Project.human_attribute_name('started_on')}:
              = date_default_value(@project.started_on)
            %td{:width => '33.3%'}
              %strong #{Project.human_attribute_name('ended_on')}:
              = date_default_value(@project.ended_on)
            %td{:width => '33.3%'}
              %strong #{Project.human_attribute_name('actual_duration')}:
              = distance_of_time_in_words(@project.actual_duration) if @project.actual_duration
    
= created_at(@project)
= updated_at(@project)
