<%= content_for :head do %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>

  <%= javascript_tag do %>
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', '<%= Conf.reports[@type]['col_names'].first %>');
      data.addColumn('date', '<%= Conf.reports[@type]['col_names'].last %>');
      data.addRows(<%= @data.length %>);
      
      <% @data.each_with_index do |arr, i| %>
        data.setValue(<%= i %>, 0, '<%= arr.first %>');
        data.setValue(<%= i %>, 1, new Date(<%= arr.last %>));
      <% end %>

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, {width: 800, height: 600, chartArea: {top:0}, title: '<%= Conf.reports[@type]['title'] %>', 
                        legend: 'none', hAxis: {title: '<%= Conf.reports[@type]['col_names'].last %>'}});
    }
  <% end %>
<% end %>

<div id="chart_div"></div>
