&nbsp;|&nbsp;Referencia:&nbsp;
%span{:style => 'background-color: green; color: white; width: 20%;'}= Project::Indicator.to_s(Project::Indicator::ON_COURSE)
%span{:style => 'background-color: yellow; color: black; width: 20%;'}= Project::Indicator.to_s(Project::Indicator::PENDING)
%span{:style => 'background-color: red; color: white; width: 20%;'}= Project::Indicator.to_s(Project::Indicator::NOT_STARTED)
%span{:style => 'background-color: black; color: white; width: 20%;'}= Project::Indicator.to_s(Project::Indicator::NOT_FINISHED)
%span{:style => 'background-color: blue; color: white; width: 20%;'}= Project::Indicator.to_s(Project::Indicator::FINISHED)

