= form_for project, :url => projects_status_index_path, :html => {:method => :get} do |f|
  = label_tag 'Filtrar por'
  &nbsp;-&nbsp;
  = f.collection_select :project_name_id, ProjectName.leaves(ProjectName.arranged), 
                        :id, :to_s,
                        {:prompt => 'Projecto', :include_blank => project.project_name_id.present?}, 
                        :onchange => "this.form.submit();"
  &nbsp;|&nbsp;
  = f.collection_select :dev_id, User.devs, :id, :name, 
                        {:prompt => 'Analista', :include_blank => project.dev_id.present?}, 
                        :onchange => "this.form.submit();"
  &nbsp;|&nbsp;
  = f.select :indicator, options_for_select(Project::Indicator::SELECT, project.indicator), 
             {:prompt => 'Indicador', :include_blank => project.indicator.present?}, 
             :onchange => "this.form.submit();"