= content_for :title, 'Estado de proyectos'

= content_for :head do
  = javascript_include_tag 'jquery-ui-1.8.12.custom.min'
  = stylesheet_link_tag 'jquery-ui-1.8.12.custom'

= render 'search_form', :project => @project

= render 'reference'
  
= render 'list', :list => @projects

%div.spaced= paginate @projects
