%div
  %span
    = link_to_function(image_tag('info.png', :border => 0), "$('##{dom_id(projects.first.dev)}').toggle()")
    = div_for(projects.first.dev) do
      - projects.each_with_index do |project, i|
        %span{:class => i.zero? ? '' : 'spaced'}= "##{project.req_nbr} --> #{project}"
        - unless i == projects.length-1
          %br/

