= link_to_function(image_tag('info.png', :border => 0), "$('#user_#{projects.first.dev.id}').toggle()")

= div_for(projects.first.dev) do
  - projects.each do |project|
    %br/
    = "##{project.req_nbr} --> #{project}"

